.splitting .char {
    animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
  }
  @keyframes slide-in {
    from {
      transform: translateY(-1em) rotate(-.5turn) scale(0.5);
      opacity: 0;
    }
  }