.signin{
    width:100hw;
    height:100vh;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url(../Assets/Image/photo-1507842217343-583bb7270b66.jpg);
}

.login_main{
display: flex;
flex-direction: column;
/* border: 5px whitesmoke; */
padding: 32px;
margin-left: 10%;
/* background-color:rgba(0, 0, 0, 0.7); */
justify-content: center;
align-items: center;
box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
}
.login_main *{
   /* padding: 0 10px;  */
/* margin: 10px 0; */
box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);

}
